:root {
  --background-color: #1C1C1E;
  --primary-text-color: #E6E6E6;
  --secondary-text-color: #A0A0A0;
  --primary-accent-color: #4A90E2;
  --secondary-accent: #9B7EBB;
  --borders: #333333; 
}

body {
  background-color: var(--background-color);
  color: var(--primary-text-color); 
}